@use "./breakpoints.scss";

$section-max-width: 1200px;

.section {
  max-width: $section-max-width;
  padding: 0 1.6rem;
  margin: 0 auto;
  box-sizing: content-box;

  @include breakpoints.for-tablet-portrait-up {
    padding: 0 2.4rem;
  }
}

.section-screen-width {
  @extend .section;

  @include breakpoints.for-custom-breakpoint-up(
    calc($section-max-width + 3rem)
  ) {
    padding: 0 calc(((100vw - $section-max-width) / 2));
    margin: 0;
  }
}

.prevent-body-scroll {
  overflow: hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.link-underline-on-hover {
  &:link,
  &:visited {
    position: relative;
    color: var(--color-black);
    text-decoration: none;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      background-color: var(--color-black);
      bottom: 0rem;
      height: 0.2rem;
      width: 0;
      transition: width var(--animation-duration) ease;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
