@import "./breakpoints.scss";

.section {
  max-width: 144rem;
  padding: 0 1.6rem;
  margin: 0 auto;

  @include for-tablet-portrait-up {
    padding: 0 2.4rem;
  }

  @include for-desktop-up {
    padding: 0 7rem;
  }
}

.prevent-body-scroll {
  overflow: hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.link-underline-on-hover {
  &:link,
  &:visited {
    position: relative;
    color: var(--color-black);
    text-decoration: none;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      background-color: var(--color-black);
      bottom: 0rem;
      height: 0.2rem;
      width: 100%;
      transition: transform var(--animation-duration) ease;
      transform: translateX(-100%);
    }

    &:hover::before {
      transform: translateX(0);
    }
  }
}
