@import "../../../styles/utils.scss";
@import "../../../styles//breakpoints";

.container {
  @extend .section;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;

  @include for-tablet-portrait-up {
    flex-direction: row;
    justify-content: center;
    gap: 4.8rem;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.copyright {
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;

  background-color: var(--color-background-gray);
  color: var(--color-gray-medium);
}
