.title {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 4rem;
  letter-spacing: 0.4rem;
  font-weight: 400;
}

.subtitle-lg {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.subtitle-sm {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.body-lg {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.body-md {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.body-sm {
  font-size: 1.2rem;
  line-height: 2rem;
}
