.container {
  &[data-state="open"] {
    animation: slideDown 0.3s var(--custom-ease);
  }

  &[data-state="closed"] {
    animation: slideUp 0.3s var(--custom-ease);
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
