@use "../../../styles/breakpoints";
@import "../../../styles/utils";

.container {
  @extend .section-screen-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 1.6rem;
  padding-bottom: 0.8rem;

  @include breakpoints.for-desktop-up {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.logo-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;

  @include breakpoints.for-desktop-up {
    position: relative;
    width: auto;
    z-index: unset;
  }
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  color: var(--color-black);
  background-color: transparent;
  border: none;
  height: 3.2rem;
  width: 3.2rem;
}

.btn-open-menu {
  @include breakpoints.for-desktop-up {
    display: none;
  }
}

.actions {
  display: flex;
  gap: 0.8rem;
}

.navbar-wrapper {
  @include breakpoints.for-desktop-down {
    display: none;
  }
}
